html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: #f2f1ed;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "banner banner"
    "col1 col2";
  gap: 1rem;
}

.pano {
  grid-area: banner;
}

nav {
  margin-top: 1rem;
  grid-column: 2;
  grid-row: 1;
  align-self: auto;
}

.logo {
  grid-area: banner;
  align-self: end;
  width: 14rem;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 1rem;
  margin-left: 1rem;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

a {
  padding: 1rem;
  color: #fff;
  font-size: 2rem;
}

h2, li {
  font-family: "Patua One", sans-serif;
}

h2 {
  color: #30658d;
  margin: 1rem 0 0;
}

p {
  margin: 0 0 1.5rem;
}

figure {
  margin: 0;
}
